=begin
#Pipedrive API v1

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module Pipedrive
  class MailMessagesApi
    attr_accessor :api_client

    def initialize(api_client = Client.default)
      @api_client = api_client
    end

    # Get one mail message
    # Returns data about specific mail message.
    # @param id ID of the mail message to fetch.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include_body Whether to include full message body or not. 0 &#x3D; Don&#39;t include, 1 &#x3D; Include (default to 0)
    # @return [nil]
    def mailbox_mail_messages_id_get(id, opts = {})
      mailbox_mail_messages_id_get_with_http_info(id, opts)
      end

    # Get one mail message
    # Returns data about specific mail message.
    # @param id ID of the mail message to fetch.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include_body Whether to include full message body or not. 0 &#x3D; Don&#39;t include, 1 &#x3D; Include
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def mailbox_mail_messages_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MailMessagesApi.mailbox_mail_messages_id_get ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailMessagesApi.mailbox_mail_messages_id_get"
      end
      # resource path
      local_var_path = "/mailbox/mailMessages/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'include_body'] = opts[:'include_body'] if !opts[:'include_body'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = [ 'access_token' ]
      response = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailMessagesApi#mailbox_mail_messages_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return response
    end
  end
end
